/* comments! */
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: darkslategray;
}

header {
  background-color: green;
  text-align: center;
  padding: 20px;
  color: darkseagreen;
}

nav {
  background-color: salmon;
  font-size: 30px;
  color: white;
  text-align: center;
  /*padding: */
}

a {
  color: white;
}

a:hover {
  color: darkslategray;
}

/*a {
  color: purple;
}*/

a:visited {
  color: blue;
}

nav span {
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.nav-container {
  display: inline;
  margin: 0 auto;
}

.container {
  max-width: :780px;
  margin:0 auto;
}

.topContent {
  background-color: orange;
  height:300px
}

.middleContent {
  background-color: grey;
  height: 100%;
}

.floating {
  float: left;
  height: 300px;
  width: 50%;
  background-color: red;
  margin: 5px;
}

.babushka {
  height: 50%;
  width: 50%;
  float: right;
  background-color: purple;
  border-radius: 20%;
}

.bottomContent {
  height: 700px;
}


/*Flow to Bottom Footer*/
footer {
  background-color: green;
  text-align: center;
  padding: 20px;
}

/*Fixed Footer*/
footer {
  background-color: green;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
}
