/*.count {
  font-size: : 30px;
  width: 90px;
  float: bottom;
  text-transform: uppercase;*/
/*}*/

.button {
    width: 90px;
    margin: 7.5px;
}

.red {
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.green {
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}
