.count {
    font-size: 15px;
    display: inline-block;
    /*text-transform: uppercase;*/
}

.button {
    width: 90px;
    margin: 7.5px;
}

/*.blocks.children {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}*/

.red {
    background-color: red;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.blue {
    background-color: blue;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.green {
    background-color: green;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.yellow {
    background-color: yellow;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}
